html{
    background-color: rgb(247, 245, 245);
}
nav{
    background-color: rgb(93, 28, 153);
    margin: 1rem 0 0;
    padding: .25rem 1.25rem;
    display: flex;
    justify-content: space-between;
}
nav>a{
    text-decoration: none;
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: large;
    border: solid transparent;
    padding: .1rem .25rem;
}
nav>a:hover{
    border: solid black;
    background-color: white;
    color: rgb(93, 28, 153);
}
header>h1{
    color: transparent;
    font-size: xx-small;
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Signika', sans-serif;
    font-style: italic;
    font-size: xx-large;
}
#about{
    margin: .5rem 0 1rem;
}
body{
    font-family: 'Signika', sans-serif;
}
p{
    margin: 0;
}
div{
    background-color: rgb(200, 178, 223);
    margin: 1rem 0;
    padding: 1rem;
}
div>div{
    padding: 0;
    margin: 0;
}
.pets{
    background-color: transparent;
    padding: 0;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
}
div img{
    max-width: 100%;
}
.sisters{
    background-color: rgb(200, 178, 223);
    padding: 1rem;
}
.sisters img{
    width: 12rem;
    float: left;
    margin: 0 1rem 1rem 0;
}
.simon{
    width: 8.90rem;
    margin: 0 1rem 0 0;
}
.dogs{
    width: 19rem;
}
footer{
    background-color: rgb(200, 178, 223);
    padding: 0 1rem 1rem;
}
footer>a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem 0 0;
    margin: 0;
}
footer>a:hover{
    text-decoration: underline;
}
@media (min-width:500px){
    .work{
        max-width: 440px;
    }
    .about{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}
@media (min-width:522px){
    .acct, .isinfo{
         max-width: 460px;
    }
    .collection{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .is{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}
@media (min-width:600px){
    .sisters{
        max-width: 545px;
    }
    .is img{
        width: 535px;
    }
}
@media (min-width:1040px){
    .is img{
         margin: 0 0 0 1rem;
    }
    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 0 0 1rem;
    }
    header img{
        width: 900px;
        margin: 0 1rem 0 0;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 3rem;
    }
}
@media (min-width:1545px){
    .about{
        justify-content: space-between;
    }
}
@media (min-width:1590px){
    h2{
        text-align: center;
    }
    .about, .collection{
        justify-content: center;
    }
    .sisters, .pets, .acct{
        margin: 0 1.5rem 0 0;
    }
    footer>a{
        text-align: center;
    }
    footer{
        margin: 0 10rem;
    }
}
